<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="institute.college.abvgietconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABVGIETCONNECT">
        <activity android:name=".Departments"></activity>
        <activity android:name=".StudentZone.PostDetailActivity"></activity>
        <activity android:name=".StudentZone.HomePage">

        </activity>
        <activity android:name=".StudentZone.EditUserDetails" />
        <activity android:name=".StudentZone.ForgetPassword" />
        <activity android:name=".StudentZone.LoginActivity" />
        <activity android:name=".Administration.Staff" />
        <activity android:name=".Administration.AdministrationActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>